.demo-box{
    background-color: #f3149e;
    color: #ffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0.375rem;
    font-weight: bold;

}
.demo-box-alt{
    background-color: #198754;
    color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0.375rem;
    font-weight: bold;
}